<h1>Contact</h1>

<h2>Contributers</h2>
<p>Seen it somewhere cheaper? Join our contributer team and submit your finds.</p>

<h2>Stores</h2>
<p>Are you part of a store and believe that you desever a place on our app? Contact us now and let's talk</p>

<h3>email</h3>
<p>email us at: email+hidern@mailter.com</p>